<%= simple_form_for(forum) do |f| %>

<% if forum.errors.any? %>
<ul>
 <% forum.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
    <% end %>
</ul>
   <% end %>

  <p>
    <%= f.input :title %><br>
  </p>

  <p>
    <%= f.input :description %><br>
  </p>
  <%= f.button :submit %>
<% end %>
