<h1>New Forum</h1>
  <%= form_for(@forum) do |f| %>

  <% if @forum.errors.any? %>
  <ul>
   <% @forum.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
      <% end %>
  </ul>
     <% end %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </p>
    <%= f.submit %>
  <% end %>
