<h1><%= @forum.title %></h1>
  <p><%= @forum.description %></p>

  <%= link_to "Edit Forum", edit_forum_path(@forum) %>

  <%= link_to "Delete Forum", forum_path(@forum), method: :delete, data: {confirm: "Are you sure you wish to delete this forum?"} %>

  <%= link_to "New Topic", new_forum_topic_path(@forum) %>
