<%= simple_form_for([forum, topic]) do |f| %>

<% if @forum.errors.any? %>
<ul>
 <% @forum.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
    <% end %>
</ul>
   <% end %>

  <p>
    <%= f.input :subject %><br>
  </p>

  <%= f.fields_for :posts do |post| %>
    <p>
      <%= post.input :text %>
    </p>
  <% end %>

  <%= f.button :submit %>
<% end %>
